.mt-5 {
  margin-top: 50px !important;
}

.center {
  text-align: center;
}

.form_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input_size {
  width: 500px;
  margin: 10px 0px 10px 0px;
}

.message_width{
  width: 500px;
  display: inline-block
;
}

